<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:form action="list" class="row" name="filter" object="{filter}">

    <f:form.textfield class="form-control" placeholder="<f:translate key='tx_testexample_domain_model_car.description' />"
                      property="description"/>

    <f:render arguments="{name: 'make.0', options: '{makes}', prependOptionLabel: '-- Alle Hersteller --',
                  onchange: 'removeElement(\'modelSelect\'); this.form.submit();' }"
              partial="Filter/Select"/>

    <f:if condition="{models}">
        <f:render arguments="{id: 'modelSelect', name: 'model.0', options: '{models}', prependOptionLabel: '-- Alle Modelle --',
                 onchange: 'this.form.submit();' }"
                  partial="Filter/Select"/>
    </f:if>

    <f:form.submit value="Filter"/>
    <f:link.action action="list" class="btn">Clear</f:link.action>

</f:form>

<script>
    function removeElement(id) {
        var element = document.getElementById(id);
        if (element) {
            element.parentNode.removeChild(element);
        }
    }
</script>
</html>