<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">

    <f:flashMessages/>

    <f:render partial="Filter/Form" arguments="{filter:filter, makes : '{makes}', models : '{models}'}"/>

	<br />

    <h4>
        <f:count subject="{cars}" /> Fahrzeuge
    </h4>

    <table class="tx_testexample">

        <tr>
            <th>
                <f:translate key="tx_testexample_domain_model_car.description"/>
            </th>
            <th>
                <f:translate key="tx_testexample_domain_model_car.make"/>
            </th>
            <th>
                <f:translate key="tx_testexample_domain_model_car.model"/>
            </th>
            <th></th>
            <th></th>
        </tr>

        <f:for each="{cars}" as="car">
            <tr>
                <td>
                    <f:link.action pageUid="{settings.singlePid}" addQueryString="1" addQueryStringMethod="POST" action="show" arguments="{car : car}">
                        {car.description}
                    </f:link.action>
                </td>
                <td>{car.make.0.title}</td>
                <td>{car.model.0.title}</td>
                <td>
                    <f:link.action pageUid="{settings.singlePid}" action="edit" arguments="{car : car}">Edit
                    </f:link.action>
                </td>
                <td>
                    <f:link.action onclick="return confirm('Are you sure?')" action="delete" arguments="{car : car}">Delete
                    </f:link.action>
                </td>
            </tr>
        </f:for>

    </table>
    </div>

    <f:link.action pageUid="{settings.singlePid}" action="new">New Car</f:link.action>
</f:section>
</html>