<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
    <h1>New Car</h1>

    <f:flashMessages/>

    <f:render partial="FormErrors"/>

    <f:form action="create" name="newCar" object="{newCar}">
        <f:render partial="Car/FormFields" arguments="{makes : '{makes}', models : '{models}'}" />
        <f:link.action pageUid="{settings.listPid}" action="list">Back to list</f:link.action>
        <f:form.submit value="Create new"/>
    </f:form>
</f:section>
</html>