<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-test-example" >
	<tr>
		<td>
			<f:translate key="tx_testexample_domain_model_car.description" />
		</td>
		<td>
		{car.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_testexample_domain_model_car.make" />
		</td>
		<td>
			{car.make.0.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_testexample_domain_model_car.model" />
		</td>
		<td>
			{car.model.0.title}
		</td>
	</tr>
</table>
</html>